.cart{
  margin: 50px;
}
.cart-button{
  background-color: red;
  color: white;
  width: 160px;
  height: 50px;
  font-size: 15px;
  
}
.cart-button:hover{
  background-color: black;
  color: wheat;
  
}